# Prepare Data

* we know the given data is in text format and need data in csv format

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
with open('train/0.txt') as f:
    lines = f.read()
    print(lines)

ID                                     0x4607
Delivery_person_ID             INDORES13DEL02
Delivery_person_Age                 37.000000
Delivery_person_Ratings              4.900000
Restaurant_latitude                 22.745049
Restaurant_longitude                75.892471
Delivery_location_latitude          22.765049
Delivery_location_longitude         75.912471
Order_Date                         19-03-2022
Time_Orderd                             11:30
Time_Order_picked                       11:45
Weather conditions                      Sunny
Road_traffic_density                     High
Vehicle_condition                           2
Type_of_order                           Snack
Type_of_vehicle                    motorcycle
multiple_deliveries                  0.000000
Festival                                   No
City                                    Urban
Time_taken (min)                    24.000000
Name: 0, dtype: object

In [3]:
# columns in a file are 
col= []

In [4]:
with open('train/0.txt') as f:
    lines = f.readlines()
    for i in range(0,len(lines)-2):
        lines[i] = str(lines[i]).replace('\n','')
        col.append(str(lines[i]).split()[0])

In [5]:
col

['ID',
 'Delivery_person_ID',
 'Delivery_person_Age',
 'Delivery_person_Ratings',
 'Restaurant_latitude',
 'Restaurant_longitude',
 'Delivery_location_latitude',
 'Delivery_location_longitude',
 'Order_Date',
 'Time_Orderd',
 'Time_Order_picked',
 'Weather',
 'Road_traffic_density',
 'Vehicle_condition',
 'Type_of_order',
 'Type_of_vehicle',
 'multiple_deliveries',
 'Festival',
 'City']

In [6]:
col.append('Time_taken (min)')

In [7]:
df = pd.DataFrame(columns=col)
df

Empty DataFrame
Columns: [ID, Delivery_person_ID, Delivery_person_Age, Delivery_person_Ratings, Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude, Order_Date, Time_Orderd, Time_Order_picked, Weather, Road_traffic_density, Vehicle_condition, Type_of_order, Type_of_vehicle, multiple_deliveries, Festival, City, Time_taken (min)]
Index: []

In [8]:
df.shape

(0, 20)

In [9]:
train_arr = os.listdir('train/')
len(train_arr)

45593

In [10]:
test_arr = os.listdir('test/')
len(test_arr)

11399

In [11]:
for i in train_arr:
    with open('train/'+i) as f:
        lines = f.readlines()
        mylist=[]
        for i in range(0,len(lines)-2):
            lines[i] = str(lines[i]).replace('\n','')
            mylist.append(str(lines[i]).split()[-1])
        mylist.append(str(lines[-2]).split()[-1])
        df.loc[len(df)] = mylist

In [12]:

# with open('train/0.txt') as f:
#     lines = f.readlines()
#     ser = pd.Series()
#     for i in range(0,len(lines)-2):
#         lines[i] = str(lines[i]).replace('\n','')
#         name = str(lines[i]).split()[0]
#         value = str(lines[i]).split()[-1]
#         ser[name] = value
#     ser[str(lines[-2]).split()[0]]=str(lines[-2]).split()[-1]
#     print(ser)

In [13]:

# with open('train/0.txt') as f:
#     lines = f.readlines()
#     mylist=[]
#     print(len(lines))
#     for i in range(0,len(lines)-2):
#         lines[i] = str(lines[i]).replace('\n','')
#         mylist.append(str(lines[i]).split()[-1])
#     mylist.append(str(lines[-2]).split()[-1])
#     print(len(mylist))
#     print(mylist)
#     df.loc[len(df)] = mylist

In [14]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0x5725,CHENRES13DEL03,30.000000,4.700000,13.027018,80.254791,13.087018,80.314791,21-03-2022,23:40,23:45,Sunny,Low,2,Buffet,scooter,0.000000,NaN,Urban,10.000000
1,0x98ff,RANCHIRES05DEL02,23.000000,4.100000,23.355164,85.324097,23.375164,85.344097,28-03-2022,8:35,8:50,Stormy,Low,0,Drinks,motorcycle,0.000000,No,Metropolitian,18.000000
2,0x1bfb,COIMBRES19DEL02,23.000000,4.700000,11.022298,76.998349,11.072298,77.048349,01-04-2022,21:40,21:55,Fog,Jam,1,Meal,motorcycle,0.000000,No,Metropolitian,29.000000
3,0x86ea,COIMBRES19DEL02,23.000000,4.600000,11.022298,76.998349,11.152298,77.128349,20-03-2022,22:50,22:55,Fog,Low,0,Buffet,motorcycle,0.000000,No,Urban,21.000000
4,0xb04e,HYDRES19DEL01,25.000000,5.000000,17.458998,78.500366,17.468998,78.510366,03-03-2022,11:15,11:30,Cloudy,High,0,Snack,motorcycle,1.000000,No,Urban,26.000000

In [15]:
df.shape

(45593, 20)

In [16]:
df.to_csv('train.csv',index=False)

# Test csv build

In [23]:
col

['ID',
 'Delivery_person_ID',
 'Delivery_person_Age',
 'Delivery_person_Ratings',
 'Restaurant_latitude',
 'Restaurant_longitude',
 'Delivery_location_latitude',
 'Delivery_location_longitude',
 'Order_Date',
 'Time_Orderd',
 'Time_Order_picked',
 'Weather',
 'Road_traffic_density',
 'Vehicle_condition',
 'Type_of_order',
 'Type_of_vehicle',
 'multiple_deliveries',
 'Festival',
 'City',
 'Time_taken (min)']

In [24]:
col.remove("Time_taken (min)")

In [25]:
df_test = pd.DataFrame(columns=col)
df_test

Empty DataFrame
Columns: [ID, Delivery_person_ID, Delivery_person_Age, Delivery_person_Ratings, Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude, Order_Date, Time_Orderd, Time_Order_picked, Weather, Road_traffic_density, Vehicle_condition, Type_of_order, Type_of_vehicle, multiple_deliveries, Festival, City]
Index: []

In [26]:
for i in test_arr:
    with open('test/'+i) as f:
        lines = f.readlines()
        mylist=[]
        for i in range(0,len(lines)-2):
            lines[i] = str(lines[i]).replace('\n','')
            mylist.append(str(lines[i]).split()[-1])
        mylist.append(str(lines[-2]).split()[-1])
        df_test.loc[len(df_test)] = mylist

In [27]:
df_test.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x3a80,BANGRES15DEL02,32.000000,4.900000,12.975377,77.696664,13.055377,77.776664,20-03-2022,23:25,23:40,Sandstorms,Low,2,Drinks,scooter,1.000000,No,Metropolitian
1,0x4e2d,INDORES01DEL01,32.000000,4.800000,22.695207,75.866059,22.735207,75.906059,26-03-2022,14:40,14:55,Windy,High,1,Meal,scooter,1.000000,No,Urban
2,0x4ba7,COIMBRES17DEL01,39.000000,3.600000,11.026117,76.944652,11.096117,77.014652,02-03-2022,20:55,21:05,Sunny,Jam,2,Meal,motorcycle,1.000000,No,Metropolitian
3,0x1f09,CHENRES010DEL01,33.000000,4.100000,13.066762,80.251865,13.136762,80.321865,20-03-2022,18:20,18:30,Sunny,Medium,0,Drinks,motorcycle,2.000000,No,Metropolitian
4,0x547,MYSRES11DEL03,NaN,NaN,-12.323225,76.630028,12.383225,76.690028,05-03-2022,NaN,22:15,NaN,NaN,0,Meal,motorcycle,1.000000,No,Metropolitian

In [28]:
df_test.to_csv("test.csv",index=False)

In [29]:
df_test.shape

(11399, 19)